* { font-family: 'Source Sans Pro', sans-serif; padding: 0; margin: 0; }

html, body { height: 100%; }

body, button, p, label { font-size: 14pt; }

a { color: #2979bc; text-decoration: underline; font-size: 18pt; font-weight: 400; }

h1 { font-size: 22pt; font-weight: 700; margin-bottom: 16px; }

.container { padding: 0 75px; }

.main-container { background: #eeeeee; height: auto; padding-bottom: 24px; }

.header-img { max-width: 340px; padding: 70px 0; margin-left: -20px; }

form { display: flex; padding: 50px 0 55px; }
form input[type="url"], form input[type="text"] { color: #555555; width: 100%; max-height: 25px; font-weight: bold; border-radius: 0; border: 1px solid #555555; padding: 5px; }
form input[type="url"]:not(:last-child), form input[type="text"]:not(:last-child) { margin-right: 15px; }
form input[type="url"]:active, form input[type="url"]:focus, form input[type="text"]:active, form input[type="text"]:focus { border-radius: 0; border: 1px solid #555555; outline: transparent; }
form input[type="submit"] { background: #2979bc; padding: 0 24px; color: white; border: 1px solid #555555; border-radius: 2px; }
form .checkbox-custom { display: flex; align-items: center; margin-right: 15px; }
form .checkbox-custom label { padding-left: 2px; }

.custom-list { list-style: none; border: 1px solid black; }
.custom-list li { padding: 24px 20px; background: white; border-bottom: 1px solid black; }
.custom-list li:last-child { border-bottom: none; }
.custom-list li p:nth-child(2) { margin-top: 3px; }

.page-403 { display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; }
.page-403 img { width: 100%; max-width: 500px; }

.message { position: absolute; padding: 24px 0; width: 100%; }
.message h4 { text-align: center; background: white; max-width: 400px; margin: 0 auto; padding-top: 12px; }
.message h4 span { font-size: 20px; padding: 24px 0; line-height: 50px; }

/*# sourceMappingURL=style.css.map */
