.container {
    padding: 0 75px;
}

.main-container {
    background: $light-gray;
    height: auto;
    padding-bottom: 24px;
}

.header-img {
    max-width: 340px;
    padding: 70px 0;
    margin-left: -20px;
}

form {
    display: flex;
    padding: 50px 0 55px;

    input[type="url"],
    input[type="text"] {
        color: $grey;
        width: 100%;
        max-height: 25px;
        font-weight: bold;
        border-radius: 0;
        border: 1px solid $grey;
        padding: 5px;

        &:not(:last-child) {
            margin-right: 15px;
        }

        &:active,
        &:focus {
            border-radius: 0;
            border: 1px solid $grey;
            outline: transparent;
        }
    }

    input[type="submit"] {
        background: $blue;
        padding: 0 24px;
        color: white;
        border: 1px solid $grey;
        border-radius: 2px;
    }

    .checkbox-custom {
        display: flex;
        align-items: center;
        margin-right: 15px;

        label {
            padding-left: 2px;
        }
    }
}

.custom-list {
    list-style: none;
    border: 1px solid black;

    li {
        padding: 24px 20px;
        background: white;
        border-bottom: 1px solid black;

        &:last-child {
            border-bottom: none;
        }

        p:nth-child(2) {
            margin-top: 3px;
        }
    }
}

.page-403 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
        width: 100%;
        max-width: 500px;
    }
}

.message {
    position: absolute;
    padding: 24px 0;
    width: 100%;

    h4 {
        text-align: center;
        background: white;
        max-width: 400px;
        margin: 0 auto;
        padding-top: 12px;
        span {
            font-size: 20px;
            padding: 24px 0;
            line-height: 50px;
        }
    }
}
