//Colors:
$blue: #2979bc;
$grey: #555555;
$light-gray: #eeeeee;

* {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
}
html ,body {
    height: 100%;

}

body, button, p , label{
    font-size: 14pt;
}

a {
    color: $blue;
    text-decoration: underline;
    font-size: 18pt;
    font-weight: 400;
}

h1 {
    font-size: 22pt;
    font-weight: 700;
    margin-bottom: 16px;
}
